# Set caching headers for static assets
#<FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header set Cache-Control "max-age=31536000, public"
#Header set Expires "max-age=31536000, public"
#</FilesMatch>

# Set caching headers for static assets
<IfModule mod_headers.c>

  <FilesMatch "\.(ttf|otf|woff|woff2)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
  <FilesMatch "\.(eot|ttc|otf|woff|woff2|font.css)$">
    Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>

  <FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=86400, public"
    Header set Expires "max-age=86400, public"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set Content-Security-Policy "default-src 'self'"
    Header set X-XSS-Protection "1; mode=block"
  </FilesMatch>
</IfModule>

# Enable caching
<IfModule mod_expires.c>
  ExpiresActive On

  # Set cache expiration for different file types
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType text/javascript "access plus 1 week"
  ExpiresByType text/html "access plus 1 day"
  ExpiresByType application/xhtml+xml "access plus 1 day"
</IfModule>

# Enable compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# Disable ETag
<IfModule mod_headers.c>
  Header unset ETag
  FileETag None
</IfModule>



