# Set caching headers for static assets
#<FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header set Cache-Control "max-age=31536000, public"
#Header set Expires "max-age=31536000, public"
#</FilesMatch>

# Set caching headers for static assets
<IfModule mod_headers.c>
  <FilesMatch "\.(ico|webp|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header set Cache-Control "max-age=31536000, public"
    Header set Expires "max-age=31536000, public"
  </FilesMatch>
</IfModule>

